
body{
    background-color: #FFFEF6;
}

img {
    src: url('images/octopus with crayons');
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
 
    img {
        width: 50%;
    }
 /* div{
    display: flex;
    justify-content: left;
    align-items: left;
    height: 100vh;
 } */

 .crayoncorner-left{
    position:fixed;
    top: -300px;
    left:-300px;
 }

 .crayon-new-right{
   position: fixed;
   top: -250px;
   left: -250px;
 }

   .crayon-new-left{
      position: fixed;
      bottom: -335px;
      left: -335px;
 }

 .crayon-actual-top-right{
    position: fixed;
    top: -275px;
    right: -275px;
 }

 .crayon-bottom-right{
    position: fixed;
    bottom: -298px;
    right: -298px;
 }
p{
 font-family: "crayonize", sans-serif;
font-weight: 400;
font-size: 2.0em;
font-style: normal;
text-align: center;
}

.icon-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}
 
.officialemail-icon {
width: 150px;
height: 150px;
   display: grid;
   /* grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr; */
   gap: 10px;
 } */

 .resume-icon { 
   width: 89px;
   height: 89px;
   display: grid; */
   /* /* grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr; */
   /* gap: 10px;
 } */

 .teachingphilosophy-icon {
   width: 89px;
   height: 89px;
   /* display: grid; */
   /* grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr; */
   /* gap: 10px; */
 }

 .portfolio-icon {
   width: 89px;
   height: 89px;
   display: grid;
   /* grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr; */
   /* gap: 10px;
 }


 @media (max-width: 768px) { 
   body { font-size: 16px; padding: 10px; 
   }
   



All animation







   
   body, html{
      width: 100%;
      height: 100%;  
    }
    body{
      margin: 0;
        padding: 0;
        background: #FFFEF6;;
    }
    
    .bubblecontainer{
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 0;
        overflow: hidden;
        align-items: center;
        top: 0;
        left: 0;
    }
    
    .bubble{
        position: absolute;
        bottom: -100px;
        box-shadow: 0 20px 30px rgba(0, 0, 0, 0, 2);
                    inset 0px 10px 30px 5px rgba(255, 255, 255, 1);
        border-radius: 50%;
        opacity: 0.5;
        animation: 0.5s infinite ease-in;
    
    }
    @keyframes moving {
        0%{
            bottom: -100px;
        }
        100%{
            bottom: 1080px;
    
        
        .bubble:hover{
            animation: none;
            filter;blur(150px);
        }
        .bubble::after;
            content: "";
            backround: radial; gradient(ellipse at center , rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 70%);
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            animation: 0.5s infinite ease-in;
        }
    
    
    .bubble:nth-child(1){
        width: 40px;
        height: 40px;
        left: 5%;
        animation-duration: 8s;
    }
    
    .bubble:nth-child(2){
        width: 20px;
        height: 20px;
        left: 20%;
        animation-duration: 5s;
        animation-delay: 1s;
    }
    
    .bubble:nth-child(3){
        width: 50px;
        height: 50px;
        left: 35%;
        animation-duration: 10s;
        animation-delay: 2s;
    }
    
    .bubble:nth-child(4){
        width: 80px;
        height: 80px;
        left: 50%;
        animation-duration: 7s;
        animation-delay: 0s;
    }
    .bubble:nth-child(5){
        width: 35px;
        height: 55px;
        left: 55%;
        animation-duration: 6s;
        animation-delay: 1s;
    }
    
    .bubble:nth-child(6){
        width: 25px;
        height: 25px;
        left: 75%;
        animation-duration: 7s;
        animation-delay: 2s;
    }
    .bubble:nth-child(7){
        width: 45px;
        height: 45px;
        left: 80%;
        animation-duration: 8s;
        animation-delay: 3s;
    }
    
    .bubble:nth-child(8){
        width: 60px;
        height: 60px;
        left: 8%;
        animation-duration: 8s;
        animation-delay: 1s;
    }
    
    .bubble:nth-child(9){
        width: 60px;
        height: 60px;
        left: 8%;
        animation-duration: 8s;
        animation-delay: 1s;
    }
    
    .bubble:nth-child(10){
        width: 10px;
        height: 10px;
        left: 88%;
        animation-duration: 4s;
        animation-delay: 2s;
    }

   


    
    
    
    